{% extends "base.html" %}

{% block title %} UI Cards {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main>

    <!-- Hero -->
    <div class="section pb-2 gear-bg text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <h1 class="display-3 top-5 mb-4">Category list</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Hero -->

    <div class="mt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">

            <div class="d-flex justify-content-between align-items-center">
              <button class="btn btn-outline-primary btn-icon-only mob-hide" onclick="window.history.back();">
                <span class="fas fa-arrow-left"></span>
              </button>
              <div class="col-5">
                <form action="" method="get" class="form-inline">
                  <div class="mb-1">
                    <div class="input-group">
                      {{ search_form.name }}
                      <button class="input-group-text" type="submit">
                        <span class="fas fa-search"></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              {% if user.role == "admin" or user.role == "support" %}
                <a href="{% url 'manager:category-create' %}" class="btn btn-outline-primary btn-icon-only">
                  <span aria-hidden="true" class="fas fa-plus"></span>
                </a>
              {% else %}
                <a href="#" class="btn btn-outline-primary btn-icon-only disabled" disabled>
                  <span aria-hidden="true" class="fas fa-plus"></span>
                </a>
              {% endif %}
            </div>

            <div class="mb-5">

            {% if category_list %}
              <table class="table">
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th class="text-center">Items</th>
                  <th></th>
                  <th></th>
                </tr>
                {% for category in category_list %}
                  <tr>
                    <td><a class="text-tertiary underline" href="{% url 'manager:category-detail' pk=category.id %}">{{ category.name }}</a></td>
                    <td>{{ category.description }}</td>
                    <td class="text-center">{{ category.equipment.count }}</td>
                    {% if user.role == "admin" or user.role == "support" %}
                      <td class="text-right"><a href="{% url 'manager:category-update' category.id %}" class="btn btn-grow btn-outline-tertiary btn-sm">Modify</a>
                      <td class="text-right"><a href="{% url 'manager:category-delete' category.id %}" class="btn btn-grow btn-outline-danger btn-sm">Delete</a>
                    {% else %}
                      <td class="text-right"><a href="#" class="btn btn-outline-tertiary btn-sm disabled">Modify</a>
                      <td class="text-right"><a href="#" class="btn btn-outline-danger btn-sm disabled">Delete</a>
                    {% endif %}
                  </tr>
                {% endfor %}
              </table>
            {% else %}
              <p>There are no categories in the system.</p>
            {% endif %}

                {% include "includes/pagination.html" %}

            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
