{% extends "base.html" %}

{% block content %}
  <h1>{{ equipment.name }}</h1>

  <p><strong>Internal serial number:</strong> {{ equipment.internal_serial_number }}</p>
  <p><strong>Manufacturer serial number:</strong> {{ equipment.manufacturer_serial_number }}</p>
  <p><strong>Added to system at:</strong> {{ equipment.added_at }}</p>

  <a href="{% url 'manager:equipment-delete' pk=equipment.id %}" class="btn btn-danger">
    Delete
  </a>

  <a href="{% url 'manager:equipment-update' pk=equipment.id %}" class="btn btn-secondary">
    Update
  </a>

{% endblock %}
