{% extends "base.html" %}

{% block title %} UI Cards {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <main>

    <!-- Hero -->
    <div class="section pb-2 gear-bg text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <h1 class="display-3 top-5 mb-4">Employee list</h1>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Hero -->

    <div class="mt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">

            <div class="d-flex justify-content-between align-items-center">
              <button class="btn btn-outline-primary btn-icon-only mob-hide" onclick="window.history.back();">
                <span class="fas fa-arrow-left"></span>
              </button>
              <div class="col-6">
                <form action="" method="get" class="form-inline">
                  <div class="mb-1">
                    <div class="input-group">
                      {{ search_form.username }}
                      <button class="input-group-text" type="submit">
                        <span class="fas fa-search"></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>

              {% if user.role == "admin" %}
                <a href="{% url 'manager:staff-create' %}" class="btn btn-outline-primary btn-icon-only">
                  <span aria-hidden="true" class="fas fa-user-plus"></span>
                </a>
              {% else %}
                <a href="#" class="btn btn-outline-primary btn-icon-only disabled" disabled>
                  <span aria-hidden="true" class="fas fa-user-plus"></span>
                </a>
              {% endif %}
            </div>

            <div class="mb-5">
              {% if staff_list %}

                <!-- for desktop -->
                <div class="table-responsive d-none d-md-block">
                  <table class="table">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Username</th>
                      <th class="text-center">Full name</th>
                      <th class="text-right">Role</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for employee in staff_list %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                          <a class="underline text-tertiary" href="{{ employee.get_absolute_url }}">{{ employee.username }} {% if user == employee %}
                            (Me){% endif %}</a>
                        </td>
                        <td class="text-center">{{ employee.first_name }} {{ employee.last_name }}</td>
                        <td class="text-right">{{ employee.get_role_display }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

                <!-- for mobile -->
                <div class="d-block d-md-none">
                  {% for employee in staff_list %}
                    <div class="border rounded p-3 mt-3 mb-3">
                      <p class="text-center">
                        <a class="text-tertiary" href="{{ employee.get_absolute_url }}">
                          <strong>
                          {{ employee.username }} {% if user == employee %} (Me){% endif %}
                          </strong>
                        </a>
                      </p>
                      <hr>
                      <p><strong>Full name:</strong> {{ employee.first_name }} {{ employee.last_name }}</p>
                      <p class="mb-0"><strong>Role:</strong> {{ employee.get_role_display }}</p>
                    </div>
                  {% endfor %}
                </div>

              {% else %}
                <p>There are no employee in the system.</p>
              {% endif %}
              {% include "includes/pagination.html" %}
            </div>

          </div>
        </div>
      </div>
    </div>

  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
