{% extends "base.html" %}

{% block content %}

  <h1>
    Employee List
    {% if user.role == "admin" %}
      <a href="{% url 'manager:staff-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    {% else %}
      <a href="#" class="btn btn-secondary link-to-page disabled" disabled>
        Create
      </a>
    {% endif %}
  </h1>

  {% if staff_list %}
  <table class="table">
    <tr>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Role</th>
    </tr>
  {% for employee in staff_list %}
    <tr>
      <td><a href="{{ employee.get_absolute_url }}">{{ employee.username }} {% if user == employee %} (Me){% endif %}</a></td>
      <td>{{ employee.first_name }}</td>
      <td>{{ employee.last_name }}</td>
      <td>{{ employee.get_role_display }}</td>
    </tr>
  {% endfor %}

  </table>
  {% else %}
    <p>There are no workers in the system.</p>
  {% endif %}
{% endblock %}
