{% extends "base.html" %}

{% block content %}
  <main>

    <!-- Hero -->
    <div class="section pb-6 bg-primary text-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 text-center">
            <h1 class="mt-2">
              User: {{ staff.username }}
            </h1>

            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
              <svg class="fill-white"
                   xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
              </svg>
            </figure>
            <div class="mt-3">
              <p><strong>First name:</strong> {{ staff.first_name }}</p>
              <p><strong>Last name:</strong> {{ staff.last_name }}</p>
              <p><strong>Role:</strong> {{ staff.get_role_display }}</p>
            </div>

            {% if user.role == "admin" or user == staff %}
              <div class="mt-4">
                <a href="{% url 'manager:staff-update' pk=staff.id %}" class="btn btn-outline-warning">
                  Update
                </a>

                <a href="{% url 'manager:staff-delete' pk=staff.id %}" class="btn btn-outline-danger">
                  Delete
                </a>
              </div>
            {% else %}
              <div class="mt-4">
                <a href="#" class="btn btn-outline-warning disabled">
                  Update
                </a>

                <a href="#" class="btn btn-outline-danger disabled">
                  Delete
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- End of Hero -->

    <div class="mt-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="mb-5">
              <h3 class="text-center">Equipment in use:</h3>
              {% if staff.assigned_equipment.exists %}
                <table class="table">
                  <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th class="text-right">Assignment date</th>
                  </tr>

                  {% for equipment in staff.assigned_equipment.all %}
                    <tr>
                      <td>
                        <a class="text-tertiary"
                           href="{% url 'manager:equipment-detail' pk=equipment.id %}">{{ equipment.name }}</a>
                      </td>
                      <td>
                        {{ equipment.category }}
                      </td>
                      <td class="text-right">
                        {% for assignment in equipment.assignments.all %}
                          {% if assignment.employee == staff %}
                            {{ assignment.assigned_at }}
                          {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              {% else %}
                <p class="text-center">No equipment assigned yet.</p>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
{% endblock %}
