<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-theme-primary headroom navbar-dark">
    <div class="container position-relative" style="display: flex; justify-content: space-between;">
      <div style="display: flex;">
        <a class="navbar-brand me-lg-5" href="{% url 'manager:index' %}">
          <img class="navbar-brand-dark" src="{{ ASSETS_ROOT }}/img/brand/light.svg" alt="Logo light">
          <img class="navbar-brand-light" src="{{ ASSETS_ROOT }}/img/brand/dark.svg" alt="Logo dark">
        </a>
        <a class="Btn btn me-2 mt-2" href="{% url 'manager:staff-list' %}">
          <div class="menu-icon">
            <span class="fas fa-user"></span>
          </div>
          <div class="menu-button-text">Employees</div>
        </a>
        <a class="Btn btn me-2 mt-2" href="{% url 'manager:category-list' %}">
          <div class="menu-icon">
            <span class="fas fa-list"></span>
          </div>
          <div class="menu-button-text">Categories</div>
        </a>
        <a class="Btn btn me-2 mt-2" href="{% url 'manager:equipment-list' %}">
          <div class="menu-icon">
            <span class="fas fa-desktop"></span>
          </div>
          <div class="menu-button-text">Equipment</div>
        </a>
        <a class="Btn btn me-2 mt-2" href="#">
          <div class="menu-icon">
            <span class="fas fa-wrench"></span>
          </div>
          <div class="menu-button-text">Requests</div>
        </a>
      </div>
      <div style="display: flex;">
        {% if user.is_authenticated %}
          <a class="Btn btn me-2 mt-2" href="{% url 'manager:staff-detail' pk=user.id %}">
            <div class="menu-icon">
              <span class="fas fa-user-circle"></span>
            </div>
            <div class="menu-button-text">Profile</div>
          </a>

          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit" class="Btn btn me-2 mt-2">
              <div class="menu-icon">
                <span class="fas fa-sign-out-alt"></span>
              </div>
              <div class="menu-button-text">Logout</div>
            </button>
          </form>

        {% else %}
          <a class="Btn btn me-2 mt-2" href="{% url 'login' %}">
            <div class="menu-icon">
              <span class="fas fa-sign-in-alt"></span>
            </div>
            <div class="menu-button-text">Login</div>
          </a>
        {% endif %}

      </div>
    </div>
  </nav>
</header>
